/* caption is for displaying title with music or photos */
.caption {
    font-family: 'sirin stencil', sans-serif;
    font-weight: 500;
    color: black;
}

/* alert box contents on main page */
.alert {
    margin-top: 20px;
    margin-bottom:20px;
    /* changed tricia */
    color: #707070;
    background-color: white;
    font-family:'sirin stencil';
    font-size: 150%;
}

/* video-container encloses the video and its caption on main page */
.video-container p {
    color: black;
    font-size: 150%;
    font-family: 'sirin stencil';
}

/* mg-top is used to add a top margin to elements */
.mg-top {
    margin-top:20px;
}

/* mg-bottom is used to add a bottom margin to elements */
.mg-bottom {
    margin-bottom:30px;
}

/* bg-img is a background image for all pages other than the main page */
.bg-img {
    background-image: url('../photos/music-sheet.jpg');
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: 800px 100%;

}

/* audio-frame wraps music and its caption on Music page */
.audio-frame {
    border: 5px solid #4a4a4f;
    background-color:white;
    margin-top: 20px;
    margin-bottom:20px;
    padding-left:10px;
    padding-right:10px;
}

.video-frame {
    width: 80vw;
    height:200px;
    margin-top: 20px;
    margin-bottom:40px;
}

/* photo-frame adds a border and padding around a photo on Photos page */
.photo-frame {
    border: 5px solid #4a4a4f;
    background-color:white;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right:5px;
    padding: 5px;
}

/* booking-link is for the booking link on the main page text */
.booking-link {
    font-weight: normal;
    color: #cfcfcf;
}

.booking-link:hover {
    font-weight: normal;
    color: #9e9e9e;
}



/*** From here onwards there is CSS that was copied from the Whiskey Drop and Resume ***/
/*** examples, some of it adjusted slightly. ***/

/* From Resume project */
/* Used Contact form as basis for Bookings page */
/* Used social media icons in footer */


/* Used the folloiwng from Whiskey Drop example */
/* navbar (Changed the navbar collapse to non-transparent */
/* jumbotron (changed colours and used media queries for responsive) */
/* part of callout */
    
body {
    font-weight: 300;
    font-family: 'rock salt', sans-serif;
    /*background-color: #8e8e8e;  */
    background-color: #cfcfcf;  
    color: black;    /* text colour for body */
}


header {
    margin: 0;
}

audio {
    width:90%;
}    

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

/*** footer data ***/
/* based on Resume project */

footer {
    background-color: #707070;
    margin: 0;
}

.social-links {
    /* tricia changed */
    padding: 5px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    background-color: #cfcfcf;
    color: black;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #b1b1b7;    /* dark grey */
}

/*** end footer data ***/

/* Submit button on Bookings page */
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #707070;
    color: white;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /*background-color: #345c98;    */
    /*background-color: #616161;    */
    background-color: #9e9e9e;    
    border: 0;
    border-radius: 0; /* straight border */
    color: black;
    font-family:'sirin stencil';
    
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

/* added by Tricia */

/* when the menu items are displayed */
.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: black;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

/* when you hover over the menu item */
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.callout-container {
    height: 100vh;

    background: url('../photos/band5-lightened.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 800px 100%;
    /* tricia commented this out as it was causing problems for xs display */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* events-container encloses the event information on main page */
.events-container {
    color: black;
    background-color:#f5f5f5;
    font-size: 150%;
    font-family: 'sirin stencil';
}

.mylist-inline {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/* event-link is for the ticets link on the main page event text */
.event-link {
    font-weight: normal;
    color: #9e9e9e;
}

.event-link:hover {
    font-weight: normal;
    color: #707070;
}

/* fill-hdr, fill-body, fill-footer are used to fill the viewport completely with */
/* the 3 different parts of the content */

.fill-hdr {
        height: 6vh;
}

.fill-footer {
        height: 8vh;
}

.fill-body {
        min-height: 86vh;
}

/* text-heading is for headings on pages */

.text-heading {
        font-weight: bold;
        margin-top: 20px;
        /*margin-bottom: 20px;*/
        font-size: 15px;
}

/* contact-heading is for heading on the Bookings page */

.contact-heading {
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 15px;
}

/* The main text on the jumbotron on the main page */

.jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 50px 0px;
        font-size: small;
}

/* img-small is for displaying the photos on the Photos page */

.img-small {
        height: 10em;
        width: 10em;
}

/* center-form is used for the form on the Bookings page */

.center-form {
        max-width: 70%;
        font-family: 'sirin stencil';
        border: 2px solid #4a4a4f;
        border-radius: 5px;
        background-color: white;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
}
  
/*** media queries ***/
    
/******* SMALL ********/

@media (min-width: 768px){
    .fill-hdr {
        height:4vh;
    }
    
    .fill-footer {
        height:6vh;
    }
    
    .fill-body {
        min-height:90vh;
    }  

    
    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 200px 0px;
        font-size: x-large;
    }

    .img-small {
        height:15em;
        width: 15em;
    }

    .text-heading {
        font-weight: normal;
        margin-top: 30px;
        /*margin-bottom: 20px;*/
        font-size: 24px;
    }

    .contact-heading {
        font-weight: normal;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .navbar-default .navbar-nav {
        float: right;    /* menu bar options displayed at right */
    }
    /*.mg-top {*/
    /*    margin-top:60px;*/
    /*}*/
    
    .bg-img {
        background-image: url('../photos/music-sheet.jpg');
        background-position: bottom ;
        background-repeat: no-repeat;
        background-size: 1000px 100%;

    }

    .callout-container {
        height: 100vh;
    
        background: url('../photos/band5-lightened.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 1000px 100%;
        /* tricia commented this out as it was causing problems for xs display */
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        position: relative;
    }


    .video-frame {
        width: 40vw;
        height:300px;
        margin-top: 20px;
        margin-bottom:40px;
    }    
}

/******* MEDIUM ********/

@media (min-width: 992px) {
    .fill-hdr {
        height:3vh;
    }
    
    .fill-footer {
        height:4vh;
    }
    
    .fill-body {
        min-height:93vh;
    }

    
    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 300px 0px;
        font-size: x-large;
    }
    
    .bg-img {
        background-image: url('../photos/music-sheet.jpg');
        background-position: bottom ;
        background-repeat: no-repeat;
        background-size: 1200px 100%;

    }

    .callout-container {
        height: 100vh;
    
        background: url('../photos/band5-lightened.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 1200px 100%;
        /* tricia commented this out as it was causing problems for xs display */
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .video-frame {
        width: 40vw;
        height:400px;
        margin-top: 20px;
        margin-bottom:40px;
    }
}

/******* LARGE ********/

@media (min-width: 1200px) {
    .img-small {
        height:10em;
        width: 10em;
    }

    .fill-hdr {
        height:6vh;
    }
    
    .fill-footer {
        height:7vh;
    }
    
    .fill-body {
        min-height:87vh;
    }

    .center-form {
        max-width: 50%;
        font-family: 'sirin stencil';
        border: 2px solid #4a4a4f;
        border-radius: 5px;
        background-color:white;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 200px 0px;
        font-size: x-large;
    }

    /* bg-img is a background image for all pages other than the main page */
    .bg-img {
        background-image: url('../photos/music-sheet.jpg');
        background-position: bottom ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    
    }

    .callout-container {
        height: 100vh;
        background: url('../photos/band5-lightened.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /* tricia commented this out as it was causing problems for xs display */
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .img-small {
            height: 15em;
            width: 15em;
    }    

    .video-frame {
        width: 30vw;
        height:300px;
        margin-top: 20px;
        margin-bottom:40px;
    }
    
}

/*** end media queries ***/
