
/* Added by Tricia */
@media (max-width: 767px) {
    .img-small {
        height:10em;
        width: 10em;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .img-small {
        height:15em;
        width: 15em;
    }
}

@media (min-width: 1200px) {
    .img-small {
        height:10em;
        width: 10em;
    }
}

/* x-small e.g. iphone */
@media (max-width: 767px) {
    .fill-hdr {
        height:6vh;
        color:blue;
        background-color:blue;
    }
    
    .fill-footer {
        height:12vh;
    }
    
    .fill-body {
        min-height:82vh;
    }
}

/* small e.g. ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .fill-hdr {
        height:4vh;
        color:red;
        background-color:red;
    }
    
    .fill-footer {
        height:7vh;
    }
    
    .fill-body {
        min-height:89vh;
    }  
}

/* medium e.g. ipad pro */
@media (min-width: 992px) and (max-width: 1199px) {
    .fill-hdr {
        height:3vh;
        color:purple;
        background-color:purple;
    }
    
    .fill-footer {
        height:5vh;
    }
    
    .fill-body {
        min-height:92vh;
    }
}

/* large - desktop */
@media (min-width: 1200px) {
    .fill-hdr {
        height:6vh;
        color:pink;
        background-color:pink;
    }
    
    .fill-footer {
        height:8vh;
    }
    
    .fill-body {
        min-height:86vh;
    }
}

.caption {
    font-family: 'sirin stencil', sans-serif;
    /*font-family: "Tahoma", sans-serif;*/
    font-weight: 500;
    color: black;
}


.bg-color-contact {
    /*
    background-color: #efeaea;  /* very light grey */

}

.alert {
    margin-top: 20px;
    margin-bottom:20px;
    /* changed tricia */
    color: blue;
    background-color: white;
    font-family:'sirin stencil';
    font-size: 150%;
}

.video-container p {
    color: black;
    font-size: 150%;
    font-family: 'sirin stencil';
}

.mg-top {
    margin-top:60px;
}

.mg-bottom {
    margin-bottom:30px;
}


.bg-img {
    background-image: url('../photos/album2-BnW.jpg');
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;

}

.audio-frame {
    border: 5px solid #4a4a4f;
    background-color:white;
    margin-top: 20px;
    margin-bottom:20px;
    padding-left:10px;
}

.photo-frame {
    border: 5px solid #4a4a4f;
    background-color:white;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right:5px;
    padding: 5px;
}

.booking-link {
    font-weight: normal;
    color: #d0d023;
}

.booking-link:hover {
    font-weight: normal;
    color: #ffff00;
}
/* end added by Tricia */

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}


.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}


body {
    font-weight: 300;
    /*
    font-family: Roboto, sans-serif;
    background-color: #525252;
    color: #555555;
    */
    /* tricia changes */
    /*font-family: Tahoma, sans-serif;*/
    /*font-family: 'sirin stencil', sans-serif;*/
    font-family: 'rock salt', sans-serif;
    background-color: #efeaea;  /* very light grey */
    color: black;    /* text colour for body */
}


/*--------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Tahoma", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}


.row-table {
    display: table;
}


/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}



.name {
    font-family: "Tahoma", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    /* tricia changed */
    /*
    font-family: "Roboto", sans-serif;
    */
    font-family: "Tahoma", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}


/*--------------------------------------------Footer*/

footer {
    /* tricia changed
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;

    */
    background-color: black;
    margin: 0;
}

.social-links {
    /* tricia changed */
    padding: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    /* tricia changed */
    /*
    color: #fafafa;
    background: #8f8f8f;
    */
    background: #efeaea;  /* very light grey */
    color: black;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    /* tricia changed */
    /*
    background: #e84610;

      background: #c0d0e9;   /*  blue 
*/
    background: #b1b1b7;    /* dark grey */
}





/*--------------------------------------------Contact*/

/* all these added by tricia */
@media(max-width: 767px) {

    .text-heading {
        font-weight: bold;
        /*margin-top: 25px;*/
        /*margin-bottom: 20px;*/
        font-size: 15px;
    }

        .contact-heading {
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 15px;
    }
}

@media(min-width: 768px) {
    
    .text-heading {
        font-weight: normal;
        /*margin-top: 25px;*/
        /*margin-bottom: 20px;*/
        font-size: 24px;
    }

        
    .contact-heading {
        font-weight: normal;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 24px;
    }
}
 
 
/*.center-form {*/
/*    max-width: 70%;*/
/*    font-family: 'sirin stencil';*/
/*    border: 5px solid #4a4a4f;*/
/*    background-color:white;*/
/*    margin-top: 30px;*/
/*    margin-bottom:20px;*/
/*    margin-left:auto;*/
/*    margin-right: auto;*/
/*    padding-left: 5px;*/
/*    padding-right: 5px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 5px;*/
/*}*/

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    /* Tricia changed */
    /*
    background-color: #d47d7d;
    */
    background-color: #345c98;
    color: #fafafa;
}

/*--------------------------------------------Media Queries*/

@media(min-width: 1200px) {
    .center-form {
        max-width: 50%;
        font-family: 'sirin stencil';
        border: 5px solid #4a4a4f;
        background-color:white;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

@media(max-width: 1199px) {
    .center-form {
        max-width: 70%;
        font-family: 'sirin stencil';
        border: 5px solid #4a4a4f;
        background-color:white;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

/* From Whiskey Drop example */

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* tricia changed */
    /*
    background-color: rgba(0, 0, 0, .25);
    */
    /*background-color: #d47d7d;    /*reddish colour */
    background-color: #345c98;    
    border: 0;
    color: black;
    font-family:'sirin stencil';
}


.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}


.navbar .navbar-brand:hover {
    color: white;
}

/* added by Tricia */
/* when the menu items are displayed */
.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: black;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

/* when you hover over the menu item */
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

@media (max-width: 767px) {

    .jumbotron .lead {
        /* changed tricia
        color: #a7a7a7;
        */
        color: white;
        margin: 25px 0;
        padding: 50px 0px;
        font-size: small;
    }
}

@media (min-width: 768px) and (max-width:991px) {

    .jumbotron .lead {
        /* changed tricia
        color: #a7a7a7;
        */
        color: white;
        margin: 25px 0;
        padding: 200px 0px;
        font-size: x-large;
    }
}

@media (min-width: 992px) and (max-width:1199px) {

    .jumbotron .lead {
        /* changed tricia
        color: #a7a7a7;
        */
        color: white;
        margin: 25px 0;
        padding: 300px 0px;
        font-size: x-large;
    }
}

@media (min-width: 1200px) {

    .jumbotron .lead {
        /* changed tricia
        color: #a7a7a7;
        */
        color: white;
        margin: 25px 0;
        padding: 200px 0px;
        font-size: x-large;
    }
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.callout-container {
    height: 100vh;

    background: url('../photos/band5-lightened.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* tricia commented this out as it was causing problems for xs display */
    /*display: flex;*/
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

