/* caption is for displaying title with music or photos */
.caption {
    font-family: 'sirin stencil', sans-serif;
    font-weight: 500;
    color: black;
}

/* alert box contents on main page */
.alert {
    margin-top: 20px;
    margin-bottom:20px;
    /* changed tricia */
    color: blue;
    background-color: white;
    font-family:'sirin stencil';
    font-size: 150%;
}

/* video-container encloses the video and its caption on main page */
.video-container p {
    color: black;
    font-size: 150%;
    font-family: 'sirin stencil';
}

/* mg-top is used to add a top margin to elements */
.mg-top {
    margin-top:60px;
}

/* mg-bottom is used to add a bottom margin to elements */
.mg-bottom {
    margin-bottom:30px;
}

/* bg-img is a background image for all pages other than the main page */
.bg-img {
    background-image: url('../photos/album2-BnW.jpg');
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;

}

/* audio-frame wraps music and its caption on Music page */
.audio-frame {
    border: 5px solid #4a4a4f;
    background-color:white;
    margin-top: 20px;
    margin-bottom:20px;
    padding-left:10px;
}

/* photo-frame adds a border and padding around a photo on Photos page */
.photo-frame {
    border: 5px solid #4a4a4f;
    background-color:white;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: 5px;
    margin-right:5px;
    padding: 5px;
}

/* booking-link is for the booking link on the main page text */
.booking-link {
    font-weight: normal;
    color: #d0d023;
}

.booking-link:hover {
    font-weight: normal;
    color: #ffff00;
}


/*** media queries ***/

/* x-small */
@media (max-width: 767px) {
    

    /* fill-hdr, fill-body, fill-footer are used to fill the viewport completely with */
    /* the 3 different parts of the content */    
    .fill-hdr {
        height:6vh;
        background-color:blue;
    }
    
    .fill-footer {
        height:12vh;
    }
    
    .fill-body {
        min-height:82vh;
    }

    /* text-heading is for headings on pages */
    .text-heading {
        font-weight: bold;
        /*margin-top: 25px;*/
        /*margin-bottom: 20px;*/
        font-size: 15px;
    }

    /* contact-heading is for heading on the Bookings page */
    .contact-heading {
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 15px;
    }

    /* The main text on the jumbotron on the main page */
    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 50px 0px;
        font-size: small;
    }

    /* img-small is for displaying the photos on the Photos page */
    .img-small {
        height:10em;
        width: 10em;
    }

}

/* xs to medium */
@media(max-width: 1199px) {
    /* center-form is used for the form on the Bookings page */
    .center-form {
        max-width: 70%;
        font-family: 'sirin stencil';
        border: 5px solid #4a4a4f;
        background-color:white;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

/* small */
@media (min-width: 768px) and (max-width: 991px) {
    .fill-hdr {
        height:4vh;
        background-color:red;
    }
    
    .fill-footer {
        height:7vh;
    }
    
    .fill-body {
        min-height:89vh;
    }  

    
    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 200px 0px;
        font-size: x-large;
    }
}

/* small to medium */
@media (min-width: 768px) and (max-width: 1199px) {
    .img-small {
        height:15em;
        width: 15em;
    }
}

/* small upwards */
@media(min-width: 768px) {
    
    .text-heading {
        font-weight: normal;
        /*margin-top: 25px;*/
        /*margin-bottom: 20px;*/
        font-size: 24px;
    }

    .contact-heading {
        font-weight: normal;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 24px;
    }
}

/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
    .fill-hdr {
        height:3vh;
        background-color:purple;
    }
    
    .fill-footer {
        height:5vh;
    }
    
    .fill-body {
        min-height:92vh;
    }

    
    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 300px 0px;
        font-size: x-large;
    }
}


/* large */
@media (min-width: 1200px) {
    .img-small {
        height:10em;
        width: 10em;
    }

    .fill-hdr {
        height:6vh;
        background-color:pink;
    }
    
    .fill-footer {
        height:8vh;
    }
    
    .fill-body {
        min-height:86vh;
    }

    .center-form {
        max-width: 50%;
        font-family: 'sirin stencil';
        border: 5px solid #4a4a4f;
        background-color:white;
        margin-top: 30px;
        margin-bottom:20px;
        margin-left:auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .jumbotron .lead {
        color: white;
        margin: 25px 0;
        padding: 200px 0px;
        font-size: x-large;
    }
}

/*** end media queries ***/

/*** From here onwards there is CSS that was copied from the Whiskey Drop and Resume ***/
/*** examples, some of it adjusted slightly. ***/

/* From Resume project */
/* Used Contact form as basis for Bookings page */
/* Used social media icons in footer */


/* Used the folloiwng from Whiskey Drop example */
/* navbar (Changed the navbar collapse to non-transparent */
/* jumbotron (changed colours and used media queries for responsive) */
/* part of callout */
    
body {
    font-weight: 300;
    font-family: 'rock salt', sans-serif;
    background-color: #efeaea;  /* very light grey */
    color: black;    /* text colour for body */
}


header {
    margin: 0;
}


#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

/*** footer data ***/
/* based on Resume project */

footer {
    background-color: black;
    margin: 0;
}

.social-links {
    /* tricia changed */
    padding: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    /* tricia changed */
    /*
    color: #fafafa;
    background: #8f8f8f;
    */
    background: #efeaea;  /* very light grey */
    color: black;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #b1b1b7;    /* dark grey */
}

/*** end footer data ***/

/* Submit button on Bookings page */
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #345c98;
    color: #fafafa;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #345c98;    
    border: 0;
    color: black;
    font-family:'sirin stencil';
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

/* added by Tricia */
/* when the menu items are displayed */
.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: black;

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

/* when you hover over the menu item */
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.callout-container {
    height: 100vh;

    background: url('../photos/band5-lightened.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* tricia commented this out as it was causing problems for xs display */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

